<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload de Arquivo</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="container mt-5">
        <div class="d-flex justify-content-between mb-3">
            <a href="#" th:href="@{/ibmec-test/produto/listar}" class="btn btn-info">Lista de Produtos</a>
        </div>
        <h2 class="mb-4">Upload de Arquivo</h2>
        <form action="/files/upload" method="post" enctype="multipart/form-data" class="mb-4">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

        <h2 class="mb-4">Download de Arquivo</h2>
        <form id="downloadForm">
            <div class="form-group">
                <label for="fileId">ID do Arquivo:</label>
                <input type="number" id="fileId" name="fileId" class="form-control" required>
            </div>
            <button type="button" class="btn btn-primary" onclick="downloadFile()">Download</button>
        </form>

        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <script>
            function downloadFile() {
                const fileId = document.getElementById("fileId").value;
                if (fileId) {
                    window.location.href = `/files/download/${fileId}`;
                } else {
                    alert("Por favor, insira um ID de arquivo válido.");
                }
            }
        </script>
    </body>
</html>

